
@{
    ViewBag.Title = "E-Biznes";
}

<div class="container clients-area">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Niebawem wszystko przeniesie się do internetu
            </h1>
            <p class="lead">
                W jakimś serialu usłyszałem zdanie "I'm not the money guy" i w pełni się z tym zgadzam,
                nie jestem osobą która zajmuje się liczeniem i wyciąganiem pieniędzy od innych, nie mniej jednak
                świat nie opiera się na charytatywności więc warto poznać jak rozwija się świat biznesu. Obecnie
                , mimo że dopiero od niedawna się tym interesuje to mogę już powiedzieć że ciągła globalizacja,
                nowoczesne standardy obsługi klienta to ciągle zagadka dla wielu przedsiębiorców, wielu też nie
                nadąża za zmianami jakie przynoszą kolejne lata. Jeszcze nie dawno ciężko było sobie wyobrazić
                że w każdej kieszeni będzie mieścił się komputer a przesyłki będzie się odbierać w paczkomatach.
            </p>
        </div>
    </div>
</div>

