
@{
    ViewBag.Title = "Gra na giełdzie";
}

<div class="container clients-area">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Jak bym ja to wiedział to mógłbym zarobić
            </h1>
            <p class="lead">
                Ponieważ interesuję się nie tylko programowaniem ale również historią i wydarzeniami związanymi
                z nowymi technologiami i chętnie czytam ciekawe artykuły związane z branżą IT,
                pewnego dnia postanowiłem spróbować swoich sił na GPW. Przeczytałem kilka książek i rozpocząłem
                moją przygodę z samodzielnym inwestowaniem w akcje. Nie traktuje inwestowania na giełdzie jak
                coś co trzeba ciągle kontrolować , kupować i sprzedawać, jestem raczej inwestorem inwestującym 
                w dłuższej perspektywie i na pilnowanie moich inwestycji poświęcam chwilę między położeniem się do 
                łóżka i zgaszeniem światła.
            </p>
        </div>
    </div>
</div>

