
@{
    ViewBag.Title = "O mnie";
}

<div class="container clients-area">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Zainteresowany moją osobą?
            </h1>
            <p class="lead">
                Mam na imię Rafał Rogoda i moją pasją jest programowanie i wszystko co z tym związane , jak na przykład historia branży IT. Całkiem nieźle programować nauczyłem się już w 2 klasie technikum
                i od tamtej pory byłem już na 100% pewny że chcę być programistą. W przyszłości chciałbym zarządzać zespołem programistów ale to może za kilka lat.
                Obecnie studiuję zaocznie Informatykę i ekonometrię na wydziale zarządzania AGH choć nie uważam że studia mogą diametralnie wpłynąć na moją przyszłość.
                Mam również liczne zainteresowania które są bezpośrednio lub pośrednio związane z programowaniem
                o których możesz dowiedzieć się w zakładce Zainteresowania.
                <br />
                Moje hasło to: <blockquote>talk is cheap. show me the code</blockquote> fajne co nie , eh szkoda że to Linus Tolvalds a nie ja to wymyśliłem.
            </p>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="preview">
                <div class="image">
                    <img class="img-responsive" src="~/images/windowsxp.png" alt="Przeszłość">
                </div>
                <div class="options">
                    <h3>
                        Przeszłość
                    </h3>
                    <p>
                        Już idąc do technikum wiedziałem co chcę robić, chciałem być programistą , dlatego wybrałem ZSŁ Kraków.
                        Pilnie uczyłem się programowania, przyswajałem sobie niezbędną wiedzę i
                        zachowania rasowego programisty. Zrozumiałem co muszę umieć i jak się uczyć. Już w tedy nauczyłem się że nie
                        chodzi tylko o teorię ale również o praktykę i działanie.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="preview">
                <div class="image">
                    <img class="img-responsive" src="~/images/windows7.png" alt="Teraźniejszość">
                </div>
                <div class="options">
                    <h3>
                        Teraźniejszość
                    </h3>
                    <p>
                        Mogę osobie powiedzieć że umiem programować i jestem programistą ale nie jestem jeszcze doskonały w tym co robię.
                        Potrafię dostrzec w jakim kierunku warto się rozwijać i jak do tego dojść dlatego ciągle staram się doskonalić w tej niezwykle
                        szybko rozwijającej się branży.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="preview">
                <div class="image">
                    <img class="img-responsive" src="~/images/windows10.png" alt="Przyszłość">
                </div>
                <div class="options">
                    <h3>
                        Przyszłość
                    </h3>
                    <p>
                        Przyszłość programistów maluje się pięknie, uważam również że Microsoft w najbliższej czasie będzie czynił zabiegi
                        aby programistom nie zabrakło pracy oraz możliwości rozwoju i samorealizacji w najszybciej rozwijających dziedzinach programowania.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

