
@{
    ViewBag.Title = "Programowanie";
}

<div class="container clients-area">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Programista gość z kubkiem kawy który siedzi ciągle przed komputerem i coś klika
            </h1>
            <p class="lead">                
                Ja akurat kawy nie piję, ale tak jestem gościem który po ciężkim dniu programowania
                wraca do domu żeby móc w końcu poprogramować. Dla mnie najpiękniejsza w programowaniu 
                jest możliwość tworzenia czegoś, kombinowania i myślenia nad ostatecznym kształtem powstającego
                projektu. Zdumiewające jest dla mnie to że kilka dni temu nie miałem pojęcia jak coś stworzyć,
                z czego korzystać i jak osiągnąć wybrany cel a teraz kiedy coś jest już ukończone myślenie
                że można by to zrobić jeszcze lepiej i to uczucie jak by się było bogiem który właśnie stworzył 
                coś pięknego. Dlatego ciągle chcę się uczyć nowych technologi aby być lepszym twórcą.
                Programowanie to mój narkotyk.
            </p>
        </div>
    </div>
</div>