
@{
    ViewBag.Title = "Curriculum vitae";
}

<div class="container clients-area">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="center">
                Curriculum vitae   
                <a style="padding-left:3%" href='@Url.Action("DownloadCv")'>
                    <img src='@Url.Content("~/images/download.png")' />
                </a>
            </h1>
                <div class="row">
                    <div class="col-sm-6 center">
                        <h1>Rafał Rogoda</h1>
                        <hr />
                        <div class="cvRow">
                            <details open>
                                <summary><h3>Kontakt</h3></summary>
                                <div>
                                    <table class="details-table-topic">
                                        <tbody>
                                            <tr>
                                                <th>Adres</th>
                                                <td>Siepraw <br />Jabłoniowa 12</td>
                                            </tr>
                                            <tr>
                                                <th>Telefon</th>
                                                <td>730 080 595</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td>rogoda0@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th>Data urodzenia</th>
                                                <td>8 maj 1995</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </details>
                        </div>
                    </div>
                    <div class="col-sm-6 center">
                        <div class="media_image ">
                            <img class="cvImage" src="~/images/do dowodu.png" alt="Zdjęcie" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <hr />
                        <div class="cvRow">
                            <details open>
                                <summary><h3>Doświadczenie</h3></summary>
                                <div>
                                    <table class="details-table-topic">
                                        <tbody>
                                            <tr>
                                                <th>03.2014 – 04.2014</th>
                                                <td>Praktyki zawodowe w firmie IGE+XAO.</td>
                                            </tr>
                                            <tr>
                                                <th>12.2015 – 03.2016</th>
                                                <td>Programista C#/.NET , X++/Dynamics AX w firmie ItPiast</td>
                                            </tr>
                                            <tr>
                                                <th>03.2016 -  obecnie</th>
                                                <td>Programista C# / Wdrożeniowiec Enova w firmie Initius</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </details>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <hr />
                        <div class="cvRow">
                            <details open>
                                <summary><h3>Edukacja</h3></summary>
                                <div>
                                    <table class="details-table-topic">
                                        <tbody>
                                            <tr>
                                                <th>2011 - 2015<br />Kierunek</th>
                                                <td><b>Technikum Łączności nr. 14</b><br />Informatyka - Programowanie</td>
                                            </tr>
                                            <tr>
                                                <th>10-12.2015<br />Kierunek<br />Typ</th>
                                                <td><b>Akademia Górniczo Hutnicza</b><br />Elektronika<br />Dzienne</td>
                                            </tr>
                                            <tr>
                                                <th>2016 - obecnie<br />Kierunek<br />Typ</th>
                                                <td><b>Akademia Górniczo Hutnicza</b><br />Informatyka i Ekonometria<br />Zaoczne</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </details>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <hr />
                        <div class="cvRow">
                            <details open>
                                <summary><h3>Umiejętności</h3></summary>
                                <div>
                                    <table class="details-table-topic">
                                        <tbody>
                                            <tr>
                                                <th>IT</th>
                                                <td>
                                                    C# , ASP.NET MVC , WCF , WPF , Windows Forms, Entity Framework , Ninject, HTML5 , CSS3 , JavaScript , C++ ,
                                                    Java , Android , MS-SQL , Visual Studio , GIT , TFS , Wzorce projektowe, Windows, Linux, Pascal , VBS , MS Office
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Inne</th>
                                                <td>Język angielski , prawo jazdy kat.B</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </details>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <hr />
                        <div class="cvRow">
                            <details open>
                                <summary><h3>Zainteresowania</h3></summary>
                                <p>
                                    Programowanie, Ekonomia, E-biznes, Inwestowanie na giełdzie
                                </p>
                            </details>
                        </div>
                    </div>
                </div>
            <div class="row">
                <br />
                <hr />
                <p>
                    Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji (zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych Osobowych; Dz. U. z 2002r. Nr 101, poz. 926 z póź. zm.).
                </p>
            </div>
</div>
    </div>
</div>

