
@{
    ViewBag.Title = "Przemówienia publiczne";
}

<div class="container clients-area">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Nausz się przemawiać bo kiedyś Ci się to przyda
            </h1>
            <p class="lead">
                Z takim hasłem zapisałem się do koła mówców i nie zdawałem sobie sprawy jak bardzo jest
                ta umiejętność przydatna, nawet kiedy nie jesteś profesjonalistą i dużo Ci brakuje do
                osiągnięcia choćby przeciętności to najważniejsze są inne umiejętności, umiejętności nabywane 
                podczas myślenia nad tym co powiedzieć i umiejętność analizowania zachowań innych mówców.
                Umiejętność odpowiadania pod presją i opanowywania stresu związanego z tym że jesteś również
                oceniany przez innych. Kreatywne i nieszablonowe myślenie oraz umiejętność słuchania siebie.
            </p>
        </div>
    </div>
</div>

